{{template "header"}}
		<title>首页 - 我的 beego 博客</title>
	</head>
	<body>
		<div class="navber navber-default navber-fixed-top">
			<div class="container">
				<a class="navber-brand" href="/">我的博客</a>
				<div>
					<ul class="breadcrumb">
					    <li><a href="#">Home</a></li>
					    <li><a href="#">2013</a></li>
					    <li class="active">十一月</li>
					</ul>		
				</div>
			</div>
		</div>
		<div class="container">
			<div class="page-header">
				<h1>我的一篇博客</h1>
				<h6>文字发表于 2019年 8 月 25 日</h6>
				<P>今天，状态很好</P>
			</div>
		</div>
		
	</body>