
{{template "header"}}
  <title>Beego</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- <link rel="shortcut icon" href="http://img4.imgtn.bdimg.com/it/u=1841637118,1303076616&fm=11&gp=0.jpg" type="image/x-icon" /> -->

</head>

<body>
<div class=".col-xs-12 .col-sm-6 .col-md-8">
{{template "navbar"}}  



  <header class="container">
    <h1 class="logo">Welcome to Beego</h1>
    <div class="description">
      Beego is a simple & powerful Go web framework which is inspired by tornado and sinatra.
      
{{range .IsLogins}}{{.}}{{end}}
    </div>
  </header>
  <footer>
    
  </footer>
  <div class="backdrop"></div>
</div>
</body>
</html>


{{define "test"}}
<div>
  This is test template 
</div>
{{end}}
